<DOCTYPE html>
	<html lang="en">
	<head>

<title>  </title>
<meta charset ="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible content"="IE=edge">

<!-- SEO Part -->
<meta name="description" content="">
<meta name="keywords" content="">
<meta name= "author" content="">
<!-- SEO Part -->

<!--css link file-->
<link href="css/bootstrap/bootstrap.css" rel="stylesheet">
<link href="css/owlcarouse.css" rel="stylesheet">
<link href="font/css/font-awesome.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">

<link href="css/header.css" rel="stylesheet">
<link href="css/footer.css" rel="stylesheet">
<link href="css/common.css" rel="stylesheet">
<link href="css/page/home.css" rel="stylesheet">

<link href="css/datatable/dataTables.min.css" rel="stylesheet">
<link href="css/datatable/responsive.dataTables.min.css" rel="stylesheet">
<!--css link file-->

</head>
<body>

<!--Start-here-body-section-->
<!--************************************************-->
<!--start-here-nav-bar-->


<!--end-here-nav-bar-->

<!--************************************************-->

<!--End-here-body-section-->

<!--js file-->
<script type="text/javascript" src="js/bootstrap/jquery.min.js"> </script>
<script type="text/javascript" src="js/bootstrap/popper.min.js"> </script>
<script type="text/javascript" src="js/bootstrap/bootstrap.min.js"> </script>
<script type="text/javascript" src="js/datable/dataTables.min.js"> </script>
<script type="text/javascript" src="js/datable/dataTables.responsive.min.js"> </script>
<script type="text/javascript" src="js/owl.carousel.min.js"> </script>
<script type="text/javascript" src="js/jquery-ui.js"> </script>
<script type="text/javascript" src="js/common.js"> </script>
<script type="text/javascript" src="js/header.js"> </script>
<script type="text/javascript" src="js/footer.js"> </script>
<script type="text/javascript" src="js/page/home.js"> </script>
<!--js file-->
</body>
	</html>

	

	